<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>My Blog</title>
</head>
<body>
    <header>
        <div class="nav-container">
            <div class="logo">
                <img src="/styles/Logo-ca-nhan.png" alt="logo" class="logo-img">

            </div>

            <nav class="navbar">
                <form class="form-inline">
                    <button class="btn" type="button"><a href="/">Home</a></button>
                    <button class="btn" type="button"><a href="/post/about">About</a></button>
                    <button class="btn" type="button"><a href="/post/contact">Contact</a></button>
                </form>

            </nav>

        </div>
    </header>
    
</body>
</html>